.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.montserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;

}

html {
  width: 1479px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 1479px;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}


.header {
  font-family: 'Montserrat', sans-serif;
  position: fixed;
  width: 100%;
  background-size: cover;
  background-position: center;

}

.hero-title {
  width: 270px;
  margin-top: 594px;
  margin-left: 70px;
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  color: aliceblue;
  margin-bottom: 16px;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.header__title {

  display: flex;
  margin-top: 35px;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

.logo--streetster {
  width: 161px;
  height: 65px;
}

.header__search {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.header__search input {
  width: 400px;
  height: 30px;
  border-radius: 15.5px;
  border: none;
  padding-left: 40px;
  background-image: url('images/icons/ï€‚.svg');
  background-size: 20px;
  background-position: 10px center;
  background-repeat: no-repeat;
}

.header__icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo--cart {
  width: 26px;
  height: 25px;
  filter: invert(1);
}

.burger {
  width: 26px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: none;
  border: none;
  cursor: pointer;
}

.burger__line {
  width: 26px;
  height: 1.82px;
  background-color: white;
}

.hero {
  font-family: 'Montserrat', sans-serif;
  min-height: 1003px;
  width: 100%;
  background-image: url('images/mainbike.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding: 20px;
}

.hero-title {
  width: 270px;
  margin-top: 594px;
  margin-left: 70px;
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  color: aliceblue;
  margin-bottom: 16px;
}

.hero-subtitle {
  margin-top: 0;
  color: aliceblue;
  font-size: 64px;
  width: 1120px;
  font-weight: 700;
  line-height: 77px;
  margin-left: 70px;
  margin-bottom: 0;

}

.hero-button {
  width: 206px;
  height: 41px;
  margin-top: 20px;
  margin-left: 70px;
  border-width: 3px;
  border-style: solid;
  border-color: white;
  background-color: transparent;
  color: white;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  line-height: 41px;
  cursor: pointer;
  padding: 0;
}

.news__title {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 64px;
  font-weight: 700;
  margin-top: 100px;
  margin-bottom: 54px;
}

.arrow {
  position: absolute;
  margin-top: 1550px;

  width: 16px;
  height: 33px;
  cursor: pointer;

}

.arrow-left {
  left: 99px;
}

.arrow-right {
  right: 135px;
}

.news {

  display: flex;
  font-family: 'Montserrat', sans-serif;
  justify-content: center;
  justify-content: space-between;
  text-align: center;
  flex-wrap: wrap;
  width: 1098px;
  height: 559px;
  gap: 30px;
  margin: 0 auto;
}

.news__item {
  background-color: #F2F2F2;

}

.news__image {
  width: 338px;
  height: 288px;
}

.news__headline {
  width: 338px;
  line-height: 62px;
  font-size: 24px;
  font-weight: 700;
  margin: 0 auto;
}

.news__text {
  width: 282px;
  height: 91px;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.08px;
  text-align: center;
  margin: 0 auto;
}

.news__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 337px;
  height: 54px;
  margin-top: 55px;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  color: inherit;
  font-size: 18px;
  font-weight: 100px;
  border: 3px solid #000000;

}

.news--black {
  background-color: #000000;
  color: #F2F2F2;
}

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  margin-top: 250px;
  margin-bottom: 50px;
}

.subscribe__title {
  width: 458px;
  height: 46px;

  font-weight: 700;
  font-size: 36px;
  line-height: 46.15px;
  letter-spacing: 0;
  white-space: nowrap;

}

.subscribe__input {
  width: 415px;
  height: 20px;
  font-size: 18px;
  border: 3px solid black;
  text-align: left;
  padding: 5px;
  border-radius: 5px;
}

.subscribe__button {
  background-color: #000000;
  color: #F2F2F2;
  width: 252px;
  height: 45px;
  border-width: 3px;
  margin-top: 24px;
  text-align: center;
  border: none;
}

.footer {
  font-family: 'Montserrat', sans-serif;
  background-color: #222;
  color: #fff;
  padding: 40px 20px;
  font-family: Arial, sans-serif;
  width: 100%;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-logo img {
  max-width: 150px;
}

.footer-columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 70%;
}

.footer-column {
  min-width: 150px;
}

.footer-column strong {
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-column p {
  margin: 5px 0;
  font-size: 14px;
  opacity: 0.8;
  cursor: pointer;
}

.footer-bottom {
  text-align: center;
  width: 100%;
  font-size: 12px;
  padding-top: 10px;
  opacity: 0.4;
  margin-top: 20px;
}